
  <p>
    Bonjour <%= @request.name %>,<br><br>
    Nous avez bien reçu ta demande d'inscription. Merci de confirmer ton email afin que celle-ci soit traitée.
  </p><br>
   <%= link_to confirmation_url(id: @request.id)  do %>
      <button style="color: darkred; border-radius: 30px; padding: 10px 30px; font-size: 20px; border: 1px solid darkred; background-color: white">Je confirme</button>
   <% end %>
