body {
  background-image: url('background.jpg');
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

h3 {
  font-size: 35px;
  font-family: sans-serif;
}
